

.separator {
	 -fx-border-radius: 10;
     -fx-background-radius: 10;

}

#poolPane {
	-fx-background-image: url("../images/poolPaneImage.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1800 1000;
    -fx-background-position: center center;
}

#toolbar {
	-fx-background-image: url("../images/menuBarImage.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1800 50;
    -fx-background-position: center center;
}


