.root {
	
	-fx-background-color: #121212;
	
}

.button {
	
		-fx-background-color: #ffffff;
	
}

#toolbar {
	
	-fx-background-color: #ffffff;
}

#rectengle-test {
	
	-fx-fill: #121212;
	-fx-stroke: #efe6dd;
	
}

#shapeRed {
	
	-fx-fill: bb4430;
	-fx-stroke: #efe6dd;
	
}

#shapeBlue {
	
	-fx-fill: #7ebdc2;
	-fx-stroke: #efe6dd;
	
	
}

#shapeGreen {
	
	-fx-fill: #f3dfa2;
	-fx-stroke: #efe6dd;
	
}

