

.button {
	-fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0);
    -fx-padding: 7;
    
}

.separator {
	 -fx-border-radius: 10;
	 -fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0);
     -fx-background-radius: 10;

}

#poolPane {
	-fx-background-image: url("../images/poolPaneImage.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1800 1000;
    -fx-background-position: center center;
}

#toolbar {
	-fx-background-image: url("../images/menuBarImage.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1800 50;
    -fx-effect: dropshadow(one-pass-box, black, 30, 0, 0, 0);
    -fx-background-position: center center;
}

#randomShapes {
	-fx-effect: dropshadow(one-pass-box, black, 20, 0, 0, 0);

}

#shapeInsertion {
   -fx-stroke-width: 1.25;
   -fx-stroke: white;
   -fx-effect: dropshadow(one-pass-box, black, 50, 0, 0, 0);
   -fx-stroke-dash-array: 2 12 12 2;
}